src/main/mule/roles/add-user.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="add-userFlow">
        <ee:transform doc:name="Initializing Variables" doc:id="613a7697-d44b-43de-af33-6f229cacb3d1" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
				<ee:set-variable variableName="employeeId" ><![CDATA[vars.employeeId default ""]]></ee:set-variable>
				<ee:set-variable variableName="roleName" ><![CDATA[vars.roleName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

        <try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="Grant Role to User">
                <db:sql ><![CDATA[${roles.addUser}]]></db:sql>
				<db:parameter-types>
                    <db:parameter-type key="appName" type="VARCHAR" />
                    <db:parameter-type key="employeeId" type="VARCHAR" />
                    <db:parameter-type key="roleName" type="VARCHAR" />
                    <db:parameter-type key="operatingUserId" type="VARCHAR" />
                </db:parameter-types>
                <db:input-parameters><![CDATA[#[{'appName' : vars.appName, 'employeeId' : vars.employeeId, 'roleName' : vars.roleName, 'operatingUserId' : vars.operatingUserId, 'firstName' : vars.originalPayload.firstName, 'lastName' : vars.originalPayload.lastName}]]]></db:input-parameters>
            </db:stored-procedure>
        </try>

        <set-variable variableName="output" value="#[payload]" doc:name="set output" />

        <ee:transform doc:name="success map error handling" doc:id="d8785566-fa8f-4cc0-b7e2-d27ec2c5841b">
			<ee:variables>
				<ee:set-variable resource="dwl/roles/add-user.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

        <error-handler ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />

    </flow>

</mule>
