src/main/mule/meetings/create-meeting.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="create-meeting-flow">

        <ee:transform doc:name="Initialise vars" doc:id="071586e5-ebd7-48c5-b460-5a3f304fa33e" >
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="Call CreateMeeting">
               <db:sql><![CDATA[{CALL CreateMeeting(:operatingUserId, :appName, :Title, :Duration, :UtcDateTime, :Comments, :meetingType, :meetingId) }]]></db:sql>
                <db:parameter-types>
                    <db:parameter-type key="operatingUserId" type="VARCHAR" />
                    <db:parameter-type key="appName" type="VARCHAR" />
                </db:parameter-types>
                <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'Title' : vars.originalPayload.Title, 'Duration' : vars.originalPayload.Duration, 'Comments' : vars.originalPayload.Comments, 'meetingType' : vars.originalPayload.MeetingType, 'UtcDateTime' : vars.originalPayload.UtcDateTime}]]]></db:input-parameters>
                <db:output-parameters>
                    <db:output-parameter key="meetingId" type="INTEGER"/>
                </db:output-parameters>
            </db:stored-procedure>
        </try>

        <set-variable variableName="output" value="#[payload.meetingId]" doc:name="set output" />

        <ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/meetings/createMeetingResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

        <error-handler ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />

    </flow>

</mule>
