src/main/mule/meetings/get-meeting-types.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="get-meeting-types-flow">

        <ee:transform doc:name="Initialise vars" doc:id="b03e88a6-ecc6-4144-b0f4-dc236f8202d1" >
			<ee:variables >
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="CALL GetMeetingTypes">
            <db:sql ><![CDATA[${meetings.getMeetingTypes}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'appName' : vars.appName, 'operatingUserId' : vars.operatingUserId}]]]></db:input-parameters>
        </db:stored-procedure>

        <ee:transform doc:name="Meeting Types Response">
            <ee:message>
                <ee:set-payload>%dw 2.0
output application/json  
---
payload.resultSet1</ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>

</mule>
