src/main/mule/meetings/get-meeting-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <sub-flow name="get-meeting-by-id-sub-flow">
        <ee:transform doc:name="Initialise vars" doc:id="5e110689-9747-4044-a3c1-3f251eb80608" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName]]></ee:set-variable>
				<ee:set-variable variableName="meetingId" ><![CDATA[attributes.uriParams.meetingId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetMeetingById">
            <db:sql ><![CDATA[${meetings.meetingById.getMeeting}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="meetingId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'meetingId' : vars.meetingId}]]]></db:input-parameters>
        </db:stored-procedure>
        <ee:transform doc:name="meetings-info">
            <ee:variables>
                <ee:set-variable variableName="meetings-info">%dw 2.0
output application/java  
---
payload.resultSet1</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetDocumentDetailById(meeting)">
            <db:sql ><![CDATA[${meetings.meetingById.getdocumentDetailById}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="meetingId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'meetingId' : vars.meetingId}]]]></db:input-parameters>
        </db:stored-procedure>
        <ee:transform doc:name="meetings-document-detail">
            <ee:variables>
                <ee:set-variable variableName="meetings-document-detail">%dw 2.0
output application/java  
---
payload.resultSet1</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetAgendaItemsByMeetingId">
            <db:sql ><![CDATA[${meetings.meetingById.getAgendaItemByMeetingId}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="meetingId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'meetingId' : vars.meetingId}]]]></db:input-parameters>
        </db:stored-procedure>
        <ee:transform doc:name="agenda-items-info">
            <ee:variables>
                <ee:set-variable variableName="agenda-items-info">%dw 2.0
output application/java  
---
payload.resultSet1</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <set-variable variableName="outputList" value="#[[] as Array]" doc:name="outputList var" />
        <foreach collection="#[vars.'agenda-items-info']" doc:name="For Each">
            <flow-ref name="get-agenda-item-documents" doc:name="get-agenda-item-documents" />
        </foreach>
        <set-variable variableName="outputList" value="#[vars.outputList]" mimeType="application/java" doc:name="outputList var"/>
        <ee:transform doc:name="Flatten Agenda Docs Array">
            <!--Migration ERROR: Custom types defined in Studio 6 are not migrated to Studio 7.-->
            <ee:variables>
                <ee:set-variable variableName="agenda-items-document-detail">%dw 2.0
output application/java  
---
(flatten(vars.outputList))</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Set output as meeting">
            <ee:variables>
				<ee:set-variable resource="dwl/meetings/meetingDetailsVar.dwl" variableName="meeting" />
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/meetings/getMeetingByIdResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <flow name="get-agenda-item-documents">

        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetDocumentDetailById(agenda)">
            <db:sql ><![CDATA[${meetings.meetingById.getLinkedDocument}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="agendaItemId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'agendaItemId' : payload.Id}]]]></db:input-parameters>
        </db:stored-procedure>
		<set-variable value="#[(vars.outputList as Array + payload.resultSet1) as Array]" doc:name="Update outputList var" doc:id="cf6b39fc-1365-4310-b2c1-f5913add85d3" variableName="outputList"/>

    
</flow>

</mule>
