src/main/mule/meetings/update-agenda-item-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="update-agenda-item-by-id-flow">

        <ee:transform doc:name="Initialise vars" doc:id="e29628ca-335c-4c2f-885f-2f62eb9022cc" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
				<ee:set-variable variableName="agendaId" ><![CDATA[vars.agendaId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="CALL UpdateAgendaItem">
                <db:sql ><![CDATA[${meetings.updateAgendaItem}]]></db:sql>
				<db:parameter-types>
                    <db:parameter-type key="operatingUserId" type="VARCHAR" />
                    <db:parameter-type key="appName" type="VARCHAR" />
                    <db:parameter-type key="Title" type="NVARCHAR" />
                    <db:parameter-type key="Duration" type="INTEGER" />
                    <db:parameter-type key="Presenters" type="VARCHAR" />
                    <db:parameter-type key="agendaOrder" type="INTEGER" />
                    <db:parameter-type key="agendaItemId" type="INTEGER" />
                </db:parameter-types>
                <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'Title' : vars.originalPayload.Title, 'Duration' : vars.originalPayload.Duration, 'Presenters' : vars.originalPayload.Presenters, 'agendaOrder' : vars.originalPayload.Order, 'agendaItemId' : vars.agendaId}]]]></db:input-parameters>
            </db:stored-procedure>
        </try>

        <set-variable variableName="output" value="#[payload]" doc:name="set output" />

        <ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/meetings/updateAgendaByIdResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
