src/main/mule/calendar/create-calendar-entry.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="create-calendar-entry-flow">
        <ee:transform doc:name="Initialise vars" doc:id="03e5791c-d5bb-4876-b908-cee19e636ab7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

        <try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="CreateCalendarEntry">
				<db:sql><![CDATA[${calendar.createCalendar}]]></db:sql>
                <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'Title' : vars.originalPayload.Title, 'Duration' : vars.originalPayload.Duration, 'Comments' : vars.originalPayload.Comments, 'CalendarEntryType' : vars.originalPayload.CalendarEntryType, 'DateTimeUtc' : vars.originalPayload.DateTimeUtc}]]]></db:input-parameters>
                <db:output-parameters>
                    <db:output-parameter key="CalendarEntryId" />
                </db:output-parameters>
            </db:stored-procedure>
        </try>
		<set-variable variableName="output" value="#[payload.CalendarEntryId]" doc:name="set output" />
		<ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/calendar/createCalendarEntryResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    
</flow>

</mule>
