src/main/mule/documentDetail/get-document.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="get-document-flow">

        <ee:transform doc:name="Initialise vars" doc:id="05c6b1e9-34d1-4fd4-bca2-cc5515099d75" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName]]></ee:set-variable>
				<ee:set-variable variableName="documentDetailId" ><![CDATA[attributes.uriParams.unique_name]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="CALL GetDocumentBinaryById()">
            <db:sql ><![CDATA[${documentdetail.getDocument}]]></db:sql>
			<db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'documentDetailId' : vars.documentDetailId}]]]></db:input-parameters>
        </db:stored-procedure>
		<ee:transform doc:name="JavaPayload to [JSON]" doc:id="edcfd23e-36dd-4a3c-abbf-78034c9934bc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- <set-variable variableName="Document" value="#[payload.resultSet1]" doc:name="Document" mimeType="binary/octet-stream" /> -->

    </flow>

</mule>
