src/main/mule/kpi/delete-kpi-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="delete-kpi-by-id-flow">

        <ee:transform doc:name="Initialise vars" doc:id="4cc7de18-ae7b-42f5-8175-048426f8530e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="kpiId" ><![CDATA[attributes.uriParams.kpiId]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="DeleteKpi">
            <db:sql><![CDATA[{ CALL DeleteKpi(:operatingUserId, :appName, :kpiId) }]]></db:sql>
            <db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="kpiId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'kpiId' : vars.kpiId}]]]></db:input-parameters>
        </db:stored-procedure>

        <set-variable variableName="output" value="#[payload]" doc:name="set output" />

        <ee:transform doc:name="Delete Kpi Response">
            <ee:variables>
				<ee:set-variable resource="dwl/kpi/deleteKpiByIdResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
