src/main/mule/kpi/get-kpi-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="get-kpi-by-id-flow">

        <ee:transform doc:name="Initialise vars" doc:id="cb9a1b68-a1c7-4fe2-8aa0-83fb27ab97f6" >
			<ee:variables >
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName]]></ee:set-variable>
				<ee:set-variable variableName="kpiId" ><![CDATA[attributes.uriParams.kpiId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetKpiById">
            <db:sql ><![CDATA[${kpi.kpiById.getKPIById}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="kpiId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'kpiId' : vars.kpiId}]]]></db:input-parameters>
			<db:in-out-parameters >
			</db:in-out-parameters>
        </db:stored-procedure>

        <ee:transform doc:name="kpi-info">
            <ee:variables>
                <ee:set-variable variableName="kpi-info">%dw 2.0
output application/java  
---
payload.resultSet1</ee:set-variable>
            </ee:variables>
        </ee:transform>

        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="GetDocumentDetailById(KPI)">
            <db:sql ><![CDATA[${kpi.kpiById.documentDetailById}]]></db:sql>
			<db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
                <db:parameter-type key="appName" type="VARCHAR" />
                <db:parameter-type key="kpiId" type="INTEGER" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'kpiId' : vars.kpiId}]]]></db:input-parameters>
        </db:stored-procedure>

        <ee:transform doc:name="kpi-document-detail">
            <ee:variables>
                <ee:set-variable variableName="kpi-document-detail">%dw 2.0
output application/java  
---
payload.resultSet1</ee:set-variable>
            </ee:variables>
        </ee:transform>

        <ee:transform doc:name="Set output as kpi">
            <ee:variables>
				<ee:set-variable resource="dwl/kpi/getKpiByIdVar.dwl" variableName="kpi" />
            </ee:variables>
        </ee:transform>

        <ee:transform doc:name="Return Kpi By ID">
            <ee:variables>
				<ee:set-variable resource="dwl/kpi/kpiByIdResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
