src/main/mule/kpi/update-kpi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="update-kpi-flow">

        <ee:transform doc:name="Initialise vars" doc:id="f4aa8b43-28ee-459f-a546-82f980cd0b0b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
				<ee:set-variable variableName="kpiId" ><![CDATA[vars.kpiId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="UpdateKpi">
                <db:sql><![CDATA[{ CALL UpdateKpi(:operatingUserId, :appName, :KpiId, :KpiType, :ModelLineName, :DateUtc, :Comments) }]]></db:sql>
                <db:parameter-types>
                    <db:parameter-type key="KpiId" type="INTEGER" />
                </db:parameter-types>
                <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'ModelLineName' : vars.originalPayload.ModelLineName, 'DateUtc' : vars.originalPayload.UtcDate, 'KpiId' : vars.kpiId, 'Comments' : vars.originalPayload.Comment, 'KpiType' : vars.originalPayload.KpiType}]]]></db:input-parameters>
            </db:stored-procedure>
        </try>

        <set-variable variableName="output" value="#[payload.KpiId]" doc:name="set output" />

        <ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/kpi/updateKpiResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
