src/main/mule/documents/filter-documents.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="filter-documents-flow">

        <ee:transform doc:name="Initialise vars" doc:id="346147c5-92e4-4a6b-adec-754960a3a9dd" >
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="QueryParams" ><![CDATA[attributes.queryParams]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[attributes.uriParams.appName default '' as String]]></ee:set-variable>
				<ee:set-variable variableName="orderBy" ><![CDATA[attributes.queryParams.OrderBy]]></ee:set-variable>
				<ee:set-variable variableName="startDateTimeUtc" ><![CDATA[attributes.queryParams.StartDateTimeUtc]]></ee:set-variable>
				<ee:set-variable variableName="endDateTimeUtc" ><![CDATA[attributes.queryParams.EndDateTimeUtc]]></ee:set-variable>
				<ee:set-variable variableName="documentTypeFilter" ><![CDATA[attributes.queryParams.DocumentTypeNameFilter]]></ee:set-variable>
				<ee:set-variable variableName="titleContainsFilter" ><![CDATA[attributes.queryParams.TitleSearchFilter]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

        <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="Call GetDocumentsMatchingAllCriteria">
           <db:sql><![CDATA[{CALL GetDocumentsMatchingAllCriteria(:operatingUserId, :appName, :orderBy, :startDateUtc, :endDateUtc, :documentTypeFilter, :titleContainsFilter) }]]></db:sql>
            <db:parameter-types>
                <db:parameter-type key="operatingUserId" type="VARCHAR" />
            </db:parameter-types>
            <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'startDateUtc' : vars.startDateTimeUtc, 'endDateUtc' : vars.endDateTimeUtc, 'appName' : vars.appName, 'orderBy' : vars.orderBy, 'documentTypeFilter' : vars.documentTypeFilter, 'titleContainsFilter' : vars.titleContainsFilter}]]]></db:input-parameters>
        </db:stored-procedure>

        <set-variable variableName="output" value="#[payload.resultSet1]" doc:name="set output" />
		<ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/documents/filterDocumentsResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
