src/main/mule/documents/upload-document.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="upload-document-flow">

        <ee:transform doc:name="Initialise vars" doc:id="c3b38e17-000c-4d31-a574-a470cd0705af" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="operatingUserId" ><![CDATA[vars.decodedBT.body.preferred_username]]></ee:set-variable>
				<ee:set-variable variableName="appName" ><![CDATA[vars.appName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try transactionalAction="ALWAYS_BEGIN" doc:name="Transactional">
            <db:stored-procedure config-ref="MSSQL_Database_Config" doc:name="CALL CreateDocumentDetail">
               <db:sql><![CDATA[{CALL CreateDocumentDetail(:operatingUserId, :appName, :title, :physicalFileName, :documentType, :LinkEntityName, :LinkedItemId, :DateTag, :Comments, :documentBinary, :documentDetailId) }]]></db:sql>
                <db:parameter-types>
                    <db:parameter-type key="operatingUserId" type="VARCHAR" />
                    <db:parameter-type key="appName" type="VARCHAR" />
                </db:parameter-types>
                <db:input-parameters><![CDATA[#[{'operatingUserId' : vars.operatingUserId, 'appName' : vars.appName, 'documentBinary' : vars.originalPayload.DocumentBinary, 'physicalFileName' : vars.originalPayload.Title, 'documentType' : vars.originalPayload.DocumentType, 'LinkEntityName' : vars.originalPayload.LinkedItemType, 'LinkedItemId' : vars.originalPayload.LinkedItemId, 'DateTag' : vars.originalPayload.DateTag, 'Comments' : vars.originalPayload.Comment, 'title' : vars.originalPayload.Title}]]]></db:input-parameters>
				<db:output-parameters>
                    <db:output-parameter key="documentDetailId" type="INTEGER"/>
                </db:output-parameters>
            </db:stored-procedure>
        </try>

        <set-variable variableName="output" value="#[payload.documentDetailId]" doc:name="set output" />
		<ee:transform doc:name="success map error handling">
            <ee:variables>
				<ee:set-variable resource="dwl/documents/uploadDocumentResponse.dwl" variableName="ehSingle" />
            </ee:variables>
        </ee:transform>

    </flow>

</mule>
